<div class="uk-container">
    <footer class="footer">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="#">
                    <span class="uk-icon uk-margin-small-right"></span>
                </a>
                <ul class="uk-navbar-nav">

                    <button class="uk-button uk-button-link" routerLink="/jobs">11 9 5566-6644</button>
                    <li><a href="https://instagram.com/roneria_fotografia?igshid=YmMyMTA2M2Y="
                            uk-icon="icon: instagram"></a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right uk-width-1-6">
                <ul class="uk-navbar-nav">
                    <a class="uk-navbar-item uk-logo" routerLink="/">
                        <span uk-icon="icon: uk-logo ; ratio: 2"></span>
                    </a>
                </ul>
            </div>
        </nav>
    </footer>
</div>