<div class="uk-container uk-container">
    <div class="uk-cover-container">
        <img
            src="https://data.terabox.com/thumbnail/bb016d23e7fe40978fc5594bd3c17487?fid=4399769584106-250528-863751015774402&rt=pr&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-1I6GrHkH4FCZbTKyVvUoFSDVrmo%3d&expires=8h&chkbd=0&chkv=0&dp-logid=110911931793288292&dp-callid=0&time=1677207600&size=c1366_u768&quality=90&vuk=4399769584106&ft=image&autopolicy=1">
    </div>
</div>
<div class="uk-container uk-container">
    <div uk-grid>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div>
                <h3 class="uk-card-title">Default</h3>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div class="uk-cover-container">
                <img
                    src="https://data.terabox.com/thumbnail/093b47c60417f8a8b28e5217331d0588?fid=4399769584106-250528-424243171046838&rt=pr&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-mMoIYgRB8sVYqLqIAxViI%2frqOSs%3d&expires=8h&chkbd=0&chkv=0&dp-logid=110773412081728352&dp-callid=0&time=1677207600&size=c1366_u768&quality=90&vuk=4399769584106&ft=image&autopolicy=1">
            </div>
        </div>
    </div>
</div>
<br>
<div class="uk-container uk-container">
    <div uk-grid>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
            <div class="uk-cover-container">
                <img
                    src="https://data.terabox.com/thumbnail/a1c0fd9871ab41e15fc2f64f2dd29df4?fid=4399769584106-250528-884697959825067&rt=pr&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-6r46%2brzuNL640d%2bWYxHJaoZvt80%3d&expires=8h&chkbd=0&chkv=0&dp-logid=110722953366825836&dp-callid=0&time=1677207600&size=c1366_u768&quality=90&vuk=4399769584106&ft=image&autopolicy=1">
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container">
    <div uk-grid>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div class="uk-cover-container">
                <img
                    src="https://data.terabox.com/thumbnail/b3564f6b8f42d755a0afe11f89494528?fid=4399769584106-250528-595316891715246&rt=pr&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-F4HkNEaOCsja177b8dx3271h7xo%3d&expires=8h&chkbd=0&chkv=0&dp-logid=110837585475280649&dp-callid=0&time=1677207600&size=c1366_u768&quality=90&vuk=4399769584106&ft=image&autopolicy=1">
            </div>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div class="uk-cover-container">
                <img
                    src="https://data.terabox.com/thumbnail/b3ebd86f0eab624f54d31d2fe21d88f5?fid=4399769584106-250528-746928018317504&rt=pr&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-TTC3jjV1n5d5BeeQ%2budlu4gBE3M%3d&expires=8h&chkbd=0&chkv=0&dp-logid=110859415435894431&dp-callid=0&time=1677207600&size=c1366_u768&quality=90&vuk=4399769584106&ft=image&autopolicy=1">
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container">
    <div uk-grid>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div>
                <h3 class="uk-card-title">Default</h3>
                <div><img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg" alt="Avatar"></div>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div>
                <h3 class="uk-card-title">Default</h3>
                <div><img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg" alt="Avatar"></div>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="uk-navbar-right">
        <ul>
            <li>
                <a href="https://instagram.com/roneria_fotografia?igshid=YmMyMTA2M2Y=" uk-icon="icon: instagram"></a>
            </li>
            <li><span>11 9 1234-5678</span></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <span class="uk-icon uk-margin-small-right" uk-icon="icon: logo-roneria-fotografia; ratio: 0.15"></span>
    </div>
</footer>