<div class="uk-container uk-container">
    <div uk-grid>
        <div class="uk-card uk-card-body uk-width-1-2@m">
            <div>
                <h3 class="uk-card-title">Default</h3>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div class="uk-cover-container">
                <img class="" src="./assets/images/imagem-8.jpg" alt="imagem-2">
            </div>
        </div>
    </div>
</div>
<br>
<div class="uk-container uk-container">
    <div uk-grid>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
            <div class="uk-cover-container">
                <img class="" src="./assets/images/imagem-8.jpg" alt="imagem-2">
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container">
    <div uk-grid>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div class="uk-cover-container">
                <img class="" src="./assets/images/imagem-8.jpg" alt="imagem-2">
            </div>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div class="uk-cover-container">
                <img class="" src="./assets/images/imagem-8.jpg" alt="imagem-2">
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container">
    <div uk-grid>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div>
                <h3 class="uk-card-title">Default</h3>
                <div><img class="uk-border-circle" width="500" height="40" src="./assets/images/imagem-8.jpg"
                        alt="Avatar"></div>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div>
                <h3 class="uk-card-title">Default</h3>
                <div><img class="uk-border-circle" width="500" height="100" src="./assets/images/imagem-8.jpg"
                        alt="Avatar"></div>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>