<div class="uk-position-relative">
    <img class="background" src="./assets/images/imagem-1.jpg" alt="background">
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left uk-width-1-7">
                <a class="uk-navbar-item uk-logo" href="#">
                    <span class="uk-icon uk-margin-small-right"></span>
                </a>
                <ul class="uk-navbar-nav">
                    <a class="uk-navbar-item uk-logo" routerLink="/">
                        <span class="uk-icon uk-margin-small-right"
                            uk-icon="icon: logo-roneria-fotografia; ratio: 0.15"></span>
                    </a>
                    <button class="uk-button uk-button-link" routerLink="/jobs">Trabalhos</button>
                    <button class="uk-button uk-button-link" routerLink="/contact">Contato</button>
                </ul>
            </div>
            <div class="uk-navbar-right uk-width-1-6">
                <ul class="uk-navbar-nav">
                    <li><a href="https://instagram.com/roneria_fotografia?igshid=YmMyMTA2M2Y="
                            uk-icon="icon: instagram"></a>
                    </li>
                    <li><a href="" uk-icon="icon: whatsapp"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</div>