<div class="uk-container">
    <div uk-grid>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
            <div>
                <h3 class="uk-card-title">Default</h3>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="uk-container">
    <div uk-grid>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-3@m">
            <div>
                <h3 class="uk-card-title">Default</h3>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div>
                <h3 class="uk-card-title">Default</h3>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="uk-container">
    <div uk-grid>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
            <div>
                <h3 class="uk-card-title">Default</h3>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="uk-container">
    <div uk-grid>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <div>
                <h3 class="uk-card-title">Default</h3>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-3@m">
            <div>
                <h3 class="uk-card-title">Default</h3>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>
<br>
<footer>
    <div>
        <a href="https://instagram.com/roneria_fotografia?igshid=YmMyMTA2M2Y=" uk-icon="icon: instagram"></a>
        <p>11 9 1234-5678</p>
        <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg" alt="Avatar">
    </div>
</footer>